*{
    padding: 0;
    margin: 0;
    outline: none;
}

button{
    cursor: pointer;
}

a{
    cursor: pointer;
}

.menu-input{
    padding: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #FFF;
}

.menu-input:hover{
    background: #066ba5;
    padding: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #FFF;
}

@font-face{
    font-family: reguler_font;
    /*src: url('../font/Helvetica.ttf');*/
    src: url('../font/Roboto-Regular.ttf')
}

@font-face{
    font-family: bold_font;
    /*src: url('../font/arialbd.ttf');*/
    src: url('../font/Roboto-Bold.ttf');
}

@font-face{
    font-family: bold_black_font;
    src: url('../font/Roboto-Black.ttf');
}

div{
    font-family: reguler_font;
}

.main-font-size{
    font-size: 12px;
}

.shadow{
    box-shadow: 0px 3px 3px #d9d9d9
}

.main-background-color{
    background-color: #017dc3;
}

#input-form-base{
    overflow-y: auto;
}

#main-base{
    margin-left: 270px;
    margin-top: 51px;
    background: #f1f1f1;
    height: 100%;
    /* padding: 20px; */
}

input{
    padding: 7px;
    outline: none;
    border-radius: 3px;
    border: none;
}

select{
    padding: 5px;
    font-size: 12px;
    outline: none;
    border-radius: 3px;
}

.btn-primary{
    padding: 7px;
    color: #FFF;
    background: #017dc3;
    border: #597e9e;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.btn-primary-unhover{
    padding: 7px;
    color: #FFF;
    background: #017dc3;
    border: #597e9e;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.btn-primary-unhover:hover{
    padding: 7px;
    color: #FFF;
    background: #0095eb;
    border: #597e9e;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.btn-primary:hover{
    padding: 7px;
    color: #FFF;
    background: #017dc3;
    border: #597e9e;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    opacity: 0.5;
}

.btn-primary-white{
    padding: 7px;
    color: green;
    background:#FFF;
    border: #00bf00 1px solid;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.btn-primary-white:hover{
    padding: 7px;
    color: green;
    background:#FFF;
    border: #00bf00 1px solid;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    opacity: 0.5;
}

.side-bar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #f3f2f1;
}

.side-bar-menu{
    padding: 15px;
    font-size: 12px;
    cursor: pointer;
}

.side-bar-menu:hover{
    background: #017dc3;
    color: #FFF;
}

.gryscale-font-color{
    color: #a6a6a6;
}

.gryscale-background-color{
    background: #a6a6a6;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #CCC;
    /* -webkit-box-shadow: inset 0 0 6px #FFF;  */
}

::-webkit-scrollbar-thumb {
    background: #CCC;
    /* -webkit-box-shadow: inset 0 0 6px #FFF;  */
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.year-picker{
    padding: 5px;
    font-size: 12px;
    box-shadow: 0px 2px 2px #d1d1d1;
    border-radius: 3px;
    z-index: 100;
}

#header{
    height: 50px;
    background: #FFF;
    font-size: 16px !important;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
}

.bold{
    font-family: bold_font;
}

.bold-black{
    font-family: bold_black_font;
}

.main-border{
    border: 1px solid #d9d9d9;
}

.main-border-bottom{
    border: none;
    border-bottom: 1px solid #d9d9d9;
}

.main-border-top{
    border: none;
    border-top: 1px solid #d9d9d9;
}

.main-border-left{
    border: none;
    border-left: 1px solid #d9d9d9;
}

.main-border-right{
    border: none;
    border-right: 1px solid #d9d9d9;
}

.card{
    padding: 10px;
    width: 100%;
    float: left;
    background: #2fa3a3;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
}

.collapse-base{
    background: #066ba5;
    color: #FFF;
    display: none;
    overflow: hidden;
}

.tip-text-input{
    padding: 10px;
    border-radius: 4px;
    position: fixed;
    z-index: 100;
    width: 200px;
    box-shadow: 0px 2px 2px #d1d1d1;
    background: #FFF;
    color: #000;
}

.base-input-form{
    display: flex;
    align-items: center; 
    background: #FFF;
    border-radius: 3px;
    width: 500px
}

.flex-top{
    display: flex;
    align-items: flex-start;
}

.base-alt-ip{
    font-size: 11px; 
    color: #ffacac; 
    margin-top: 4px;
    display: none;
}

.chart-menu{
    margin-right: 20px;
    padding: 10px;
    font-family: bold_font;
}

.tooltip-text{
    position: relative;
    display: none;
}

.tooltip:hover .tooltip-text{
    display: block;
    position: absolute;
}

.txt-cpy{
    padding: 9px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    font-size: 11px;
    margin-left: 235px;
    border-radius: 0px;
    display: none;
}

.fx-loader-bse{
    padding: 15px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10000;
    border-radius: 4px;
    display: none;
}

.year-picker{
    cursor: pointer;
}

.input-wrapper{
    cursor: pointer;
}

.year-input{
    cursor: pointer !important;
}

.input-icon-calendar{
    cursor: auto !important;
}